<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <% @blogs.each do |blog| %>
      <div class="post-preview">
          <a href="<%= '/blog/'+blog.id.to_s %>">
            <h2 class="post-title">
              <%= blog.title %>
            </h2>              
          </a>
          <p class="post-meta">Posted by 
            <a href="#">Simple Blog</a> on <%= formatted_date(blog.created_at) %>
          </p>
      </div>
      <hr>
    <% end %>      
  </div>
</div>
