 <ol class="breadcrumb">
  <li>
      <i class="fa fa-dashboard"></i>  <a href="<%= admin_blogs_path %>">Blogs</a>
  </li>
  <li class="active">
      <i class="fa fa-table"></i> Edit
  </li>
</ol>
<%= render 'form' %>
