<ol class="breadcrumb">
  <li>
      <i class="fa fa-dashboard"></i>  <a href="<%= admin_blogs_path %>">Blogs</a>
  </li>
  <li class="active">
      <i class="fa fa-table"></i> <%= @admin_blog.title.truncate(100) %>
  </li>
</ol>
<div class="col-lg-12">
  <h2 class="page-header"><%= @admin_blog.title %></h2>
  <p class="lead"><%= @admin_blog.body %></p>
</div>
